# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# Manifest files are stored separately for dev and prod builds under manifests/ directory.
# We copy these files over to public/manifest during build. As a result, we don't need to
# version control this file.
/public/manifest.json

# misc
.DS_Store
.env.local
.env.dev
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
