# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend/node_modules
/.pnp
.pnp.js

# env vars for React App.
.env.development
.env.production

# testing
frontend/coverage

# production
frontend/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
api/django_app/usrprt-venv

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Generated to manage python path settings locally
.vscode/
api/django_app/.dev.env
*.env
