.venv/

userport.log

.env
.env.dev
.env.production

app/chroma_db/

example_linkedin_info/

*.pyc
__pycache__/

omega-winter-431704-u5-firebase-adminsdk-t8bf5-853979f635.json

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/
