.venv/

userport.log

.env
.env.dev
.env.production

app/chroma_db/

example_linkedin_info/

*.pyc
__pycache__/

userport-dev-firebase-adminsdk-e7z7j-510124f904.json

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/
