:root {
  --primary: #65558f;
  --on-primary: #ffffff;
  --secondary: #625b71;
  --hover-color: #9476e0;
  --surface-tint: #6750a4;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Extension dimensions. Height is auto based on content. */
  width: 350px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
