#report-details-container {
  margin-top: 2rem;
}

#report-details-container .category-btn {
  width: fit-content;
  border-radius: 1.5rem;
  font-size: 1.7rem;
  font-weight: 500;
  padding: 1.8rem;
  background-color: var(--primary-container);
  color: var(--on-primary-container);
}

#report-details-container .category-btn:hover {
  background-color: var(--hover-color);
  color: var(--on-primary);
}

#report-details-container .category-btn-selected {
  width: fit-content;
  border-radius: 1.5rem;
  font-size: 1.7rem;
  font-weight: 500;
  padding: 1.8rem;
  background-color: var(--hover-color);
  color: var(--on-primary);
}

#report-details-container .ant-card {
  padding: 0;
  border-radius: 1.7rem;
  border: 1px solid var(--surface-tint);
  box-shadow: 1px 1px;
}

#report-details-container .card-category-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#report-details-container .card-category-title-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

#report-details-container
  .card-category-title-container
  .card-company-related-container {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 4px;
  border: 1px solid green;
  border-radius: 5px;
}

#report-details-container
  .card-company-related-container
  .company-related-text {
  color: rgb(26, 123, 26);
  font-weight: 700;
  font-size: 1.4rem;
}

#report-details-container .card-category-container .card-category {
  font-size: 2rem;
  color: var(--surface-tint);
  font-weight: 550;
}

#report-details-container .card-category-container .personalize-btn {
  padding: 1.6rem 1.2rem;
  background-color: var(--hover-color);
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
}

#report-details-container .card-citation-link-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}

#report-details-container .card-citation-source-label {
  color: var(--primary);
}

#report-details-container .card-date-container {
  margin-top: 0.3rem;
}

#report-details-container .ant-card .card-date-label {
  color: var(--primary);
}

#report-details-container .ant-card .card-date {
  color: var(--on-surface);
  font-weight: 600;
}

#report-details-container .ant-card .card-text-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

#report-details-container .ant-card .card-text-label {
  margin-top: 1rem;
  font-size: 1.6rem;
  color: var(--primary);
}

#report-details-container .ant-card .card-text {
  font-size: 1.7rem;
  color: var(--secondary);
  font-weight: 500;
}

#report-details-container .ant-card .card-hashtags-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

#report-details-container .ant-card .card-hashtags-label {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary);
}

#report-details-container .ant-card .card-hashtags-value {
  font-size: 1.5rem;
  color: var(--secondary);
  font-weight: 500;
}

#report-details-container .ant-card .card-post-engagement-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

#report-details-container
  .card-post-engagement-container
  .card-post-engagement-label {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary);
}

#report-details-container
  .card-post-engagement-container
  .card-post-engagement-value-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

#report-details-container
  .card-post-engagement-value-container
  .post-engagement-value-text {
  font-size: 1.5rem;
  color: var(--secondary);
  font-weight: 500;
}
