#all-templates-outer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#all-templates-outer #outer-with-spinner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#all-templates-outer #outer-with-spinner .ant-spin-dot-holder {
  margin-top: 1rem;
}

#all-templates-outer-container {
  margin-top: 5%;
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

#all-templates-outer-container #templates-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#all-templates-outer-container #templates-title-container h3 {
  color: var(--on-primary-container);
}

#all-templates-outer-container #template-cards-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

#all-templates-outer-container #no-templates-created-container {
  background-color: var(--surface-container-low);
  padding: 4rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

#all-templates-outer-container #no-templates-created-container h2 {
  color: var(--secondary);
}

#all-templates-outer-container .ant-card {
  border: 1px solid var(--outline-variant);
}

#all-templates-outer-container .ant-typography {
  color: var(--on-surface);
}

#all-templates-outer-container .card-key {
  font-weight: 600;
}

#all-templates-outer-container #create-template-btn {
  width: fit-content;
  font-size: 1.6rem;
  height: 4rem;
  background-color: var(--primary);
  border-radius: 1.5rem;
}

#all-templates-outer-container #create-template-btn:hover {
  background-color: var(--hover-color);
}
