#nav-header {
  background-color: var(--primary);
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#nav-header #nav-logo-title {
  margin-left: 1%;
  background-color: var(--primary);
  display: flex;
  justify-content: start;
  align-items: center;
}

#nav-header #nav-logo-title h3 {
  margin-top: 1rem;
  margin-left: 2rem;
  color: var(--on-primary);
}

#nav-header #nav-menu {
  background-color: var(--primary);
  margin-right: 5%;
  width: fit-content;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#nav-header .ant-menu-item {
  color: var(--outline-variant);
}

#nav-header .ant-menu-item-icon {
  font-size: 1.4rem;
}

#nav-header .ant-menu-item::after {
  /* Remove hover border bottom color for unselected menu items. */
  border-bottom: none;
}

#nav-header .ant-menu-submenu-title {
  color: var(--outline-variant);
}

#nav-header .ant-menu-title-content {
  font-size: 1.6rem;
}

/* Selected menu item styling */

#nav-header .ant-menu-item-selected {
  color: var(--on-primary);
}

#nav-header .ant-menu-item-selected::after {
  border-bottom: 2px solid var(--on-primary);
}
