#nav-header {
  background-color: var(--primary);
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#nav-header #nav-logo-container {
  /* Container width can be used to adjust image size */
  width: 13%;
  display: flex;
  justify-content: start;
}

#nav-header #nav-logo-container img {
  /* Use https://www.w3schools.com/css/css3_object-fit.asp for reference if tweaking needed, not easy to do :P. */
  margin-left: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  object-fit: cover;
}

#nav-header #nav-logo-container img:hover {
  cursor: pointer;
}

#nav-header #nav-menu {
  background-color: var(--primary);
  margin-right: 5%;
  width: fit-content;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#nav-header .ant-menu-item {
  color: var(--outline-variant);
}

#nav-header .ant-menu-item-icon {
  font-size: 1.4rem;
}

#nav-header .ant-menu-item::after {
  /* Remove hover border bottom color for unselected menu items. */
  border-bottom: none;
}

#nav-header .ant-menu-submenu-title {
  color: var(--outline-variant);
}

#nav-header .ant-menu-title-content {
  font-size: 1.6rem;
}

/* We need this because the Leads and Templates tabs are inside a link now. */
#nav-header .ant-menu-title-content a {
  font-size: 1.6rem;
}

/* Selected menu item styling */

#nav-header .ant-menu-item-selected {
  color: var(--on-primary);
}

#nav-header .ant-menu-item-selected::after {
  border-bottom: 2px solid var(--on-primary);
}
