#create-icp {
  width: 50%;
  font-size: 0.8rem;
  color: #3b3b3b;
  border: 0.5px solid #ccc;
}

#create-icp .create-icp-filter {
  width: 80%;
}

#create-icp #account-profile-title {
  font-weight: 700;
  font-size: 1.4rem;
  color: #3b3b3b;
}

#create-icp .filters-title {
  font-weight: 600;
  font-size: 1.2rem;
  color: #3b3b3b;
}

#create-icp .accordion-button {
  font-size: 0.9rem;
  font-weight: 500;
  height: 2rem;
}

#create-icp .accordion-button::after {
  --bs-accordion-btn-icon-width: 0.8rem;
}

#create-icp .accordion-button:focus {
  box-shadow: none;
}

#create-icp select {
  border: 1px solid #ccc;
  width: 100%;
}

#create-icp #relevance-btn .btn {
  width: 20%;
  height: 2rem;
  font-size: 0.9rem;
  padding: 0.2rem;
}

#create-icp #relevance-fitler-container .form-select {
  width: 90%;
}
#create-icp #relevance-fitler-container .btn-close {
  width: 0.3rem;
}
