#create-icp-outer-body {
  width: 50%;
}

#create-icp {
  width: 100%;
  /* This is to ensure the box streches only to current content height */
  height: fit-content;
  font-size: 0.8rem;
  color: #3b3b3b;
  border: 0.5px solid #ccc;
}

#create-icp #create-icp-filter {
  width: 80%;
}

#create-icp #account-profile-title {
  font-weight: 700;
  font-size: 1.4rem;
  color: #3b3b3b;
}

#create-icp .filters-title {
  font-weight: 600;
  font-size: 1.3rem;
  color: #3b3b3b;
}

#create-icp .accordion-button {
  font-size: 0.9rem;
  font-weight: 500;
  height: 2rem;
}

#create-icp .accordion-button::after {
  --bs-accordion-btn-icon-width: 0.8rem;
}

#create-icp .accordion-button:focus {
  box-shadow: none;
}

#create-icp select {
  border: 1px solid #ccc;
  width: 100%;
}

#create-icp #relevance-filter-container {
  padding: 0;
}

#create-icp #relevance-filter-container .relevance-filter-text {
  font-size: 0.9rem;
}

#create-icp #relevance-filter-container .btn-close {
  width: 0.3rem;
  margin-top: 0.2rem;
}
