#create-account-filters-outer-body {
  width: 50%;
}

#create-account-filters {
  width: 100%;
  /* This is to ensure the box streches only to current content height */
  height: fit-content;
  font-size: 0.8rem;
  color: #3b3b3b;
  border: 0.5px solid #ccc;
}

#create-account-filters #create-account-filters-filter {
  width: 80%;
}

#create-account-filters #account-profile-title {
  font-weight: 700;
  font-size: 1.4rem;
  color: #3b3b3b;
}

#create-account-filters .filters-title {
  font-weight: 600;
  font-size: 1.3rem;
  color: #3b3b3b;
}

#create-account-filters .accordion-button {
  font-size: 0.9rem;
  font-weight: 500;
  height: 2rem;
}

#create-account-filters .accordion-button::after {
  --bs-accordion-btn-icon-width: 0.8rem;
}

#create-account-filters .accordion-button:focus {
  box-shadow: none;
}

#create-account-filters select {
  border: 1px solid #ccc;
  width: 100%;
}

#create-account-filters #relevance-filter-container {
  padding: 0;
}

#create-account-filters #relevance-filter-container .relevance-filter-text {
  font-size: 0.9rem;
}

#create-account-filters #relevance-filter-container .btn-close {
  width: 0.3rem;
  margin-top: 0.2rem;
}
