#fetched-leads-outer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

#fetched-leads-container {
  width: 50%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
}

#fetched-leads-container h3 {
  color: var(--on-surface);
}

#fetched-leads-container .ant-table-thead th {
  background-color: var(--primary-container);
  color: var(--on-primary-container);
  border-radius: 0;
}

#fetched-leads-container .ant-table-thead th::before {
  border: 1px solid var(--outline-variant);
}

#fetched-leads-container .ant-table-tbody td {
  background-color: var(--surface);
  color: var(--on-surface);
  font-weight: 500;
}

#fetched-leads-container .ant-pagination-item {
  border: 1px solid var(--secondary);
  color: var(--primary);
}

#fetched-leads-container #add-leads-btn-container {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

#fetched-leads-container .ant-btn-primary {
  width: fit-content;
  background-color: var(--primary);
  border-radius: 1.5rem;
}

#fetched-leads-container .ant-btn-primary:hover {
  background-color: var(--hover-color);
}
