#nav-header {
  background-color: var(--primary);
  --logo-width: 20%;
  padding: 0;
}

#nav-header #nav-logo-title {
  background-color: var(--primary);
  width: var(--logo-width);
  display: flex;
  justify-content: start;
  align-items: center;
}

#nav-header #nav-logo-title h3 {
  margin-left: 2rem;
  color: var(--on-primary);
}

#nav-header #nav-menu {
  background-color: var(--primary);
  width: calc(100% - var(--logo-width));
}

#nav-header .ant-menu-item {
  color: var(--outline-variant);
}

#nav-header .ant-menu-item-icon {
  font-size: 1.4rem;
}

#nav-header .ant-menu-item::after {
  /* Remove hover border bottom color for unselected menu items. */
  border-bottom: none;
}

#nav-header .ant-menu-title-content {
  font-size: 1.6rem;
}

/* Selected menu item styling */

#nav-header .ant-menu-item-selected {
  color: var(--on-primary);
}

#nav-header .ant-menu-item-selected::after {
  border-bottom: 2px solid var(--on-primary);
}
