#icp-instructions-div {
  width: 70%;
  border: 1px solid lightgrey;
  height: fit-content;
}

#icp-instructions-div p {
  color: #333;
  font-size: 1rem;
  font-weight: 450;
}

#icp-instructions-div button {
  font-size: 1rem;
  width: 10rem;
  height: 2.5rem;
  background-color: #1978de;
  color: white;
  border-radius: 8px;
  border: 1px solid #ccc;
}
