@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --primary: #65558f;
  --on-primary: #ffffff;
  --primary-container: #eaddff;
  --on-primary-container: #21005d;
  --secondary: #625b71;
  --on-secondary: #ffffff;
  --secondary-container: #e8def8;
  --on-secondary-container: #1d192b;
  --outline-variant: #cac4d0;
  --outline-darker-variant: #a09ba4;
  --surface-bright: #fef7ff;
  --surface-container-low: #f7f2fa;
  --surface-container-bright: #fef7ff;
  --surface: #fef7ff;
  --on-surface: #1d1b20;
  --on-surface-lighter: #6c6873;
  --surface-tint: #6750a4;
  --inverse-primary: #d0bcff;
  --hover-color: #9476e0;
  --error-color: rgb(198, 29, 29);
  --welcome-page-color: #65606a;
}

html {
  min-height: 100%; /* make sure it is at least as tall as the viewport */
  position: relative;
  font-size: 0.7vw;
}

body {
  margin: 0;
  height: 100%; /* force the BODY element to match the height of the HTML element */
  font-family: "Lato";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* This answer: https://stackoverflow.com/questions/712689/css-div-stretch-100-page-height helped figure out setting container size to page size. */
#root {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: visible;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.ant-spin-dot {
  color: var(--primary);
}

/* Global Modal button colors. Hover styles don't seem to work, don't know why. */
.ant-modal-confirm-btns .ant-btn-primary {
  background-color: var(--primary);
}
