#lead-research-report-outer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

#lead-research-report-container {
  width: 80%;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
}

#lead-research-report-container #header {
  display: flex;
  flex-direction: row;
}

#lead-research-report-container #header .ant-typography {
  font-family: "Lato";
}

#lead-research-report-container #back-arrow {
  width: 30%;
}

#lead-research-report-container #person-details-container {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#lead-research-report-container #person-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#lead-research-report-container #person-name {
  color: var(--primary);
  font-weight: 700;
}

#lead-research-report-container #role-title {
  margin-top: 0.5rem;
  font-weight: 600;
}

#lead-research-report-container #report-dates {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}

#lead-research-report-container #report-creation-date {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

#lead-research-report-container #research-start-date {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

#lead-research-report-container .report-dates-label {
  color: var(--primary);
}

#lead-research-report-container .anticon-arrow-left svg {
  width: 2rem;
  height: 2rem;
  color: var(--primary);
}

#lead-research-report-container h3 {
  margin-top: 1rem;
  color: var(--on-surface);
}

#lead-research-report-container .ant-tabs {
  margin-top: 5rem;
}

#lead-research-report-container .ant-tabs-tab {
  padding: 0;
}

#lead-research-report-container .ant-tabs-ink-bar {
  background: var(--hover-color);
}

/* Unselected tab title style */
#lead-research-report-container .ant-tabs-tab h1 {
  color: var(--outline-darker-variant);
  font-weight: 600;
}

/* Selected tab title style */
#lead-research-report-container .ant-tabs-tab-active h1 {
  color: var(--primary);
  font-weight: 600;
}

#lead-research-report-container #report-details-container {
  margin-top: 2rem;
}

#report-details-container .category-btn {
  width: fit-content;
  border-radius: 1.5rem;
  font-size: 1.7rem;
  font-weight: 500;
  padding: 1.8rem;
  background-color: var(--primary-container);
  color: var(--on-primary-container);
}

#report-details-container .category-btn:hover {
  background-color: var(--hover-color);
  color: var(--on-primary);
}

#report-details-container .category-btn-selected {
  width: fit-content;
  border-radius: 1.5rem;
  font-size: 1.7rem;
  font-weight: 500;
  padding: 1.8rem;
  background-color: var(--hover-color);
  color: var(--on-primary);
}

#report-details-container .ant-card {
  padding: 0;
  border-radius: 1.7rem;
  border: 1px solid var(--surface-tint);
  box-shadow: 1px 1px;
}

#report-details-container .ant-card .card-category {
  font-size: 2rem;
  color: var(--surface-tint);
  font-weight: 550;
}

#lead-research-report-container .card-citation-link-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}

#lead-research-report-container .card-citation-source-label {
  color: var(--primary);
}

#lead-research-report-container .card-date-container {
  margin-top: 0.3rem;
}

#report-details-container .ant-card .card-date-label {
  color: var(--primary);
}

#report-details-container .ant-card .card-date {
  color: var(--on-surface);
  font-weight: 600;
}

#report-details-container .ant-card .card-text-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

#report-details-container .ant-card .card-text-label {
  margin-top: 1rem;
  font-size: 1.6rem;
  color: var(--primary);
}

#report-details-container .ant-card .card-text {
  font-size: 1.7rem;
  color: var(--secondary);
  font-weight: 500;
}

#lead-research-report-container #selected-email-template-with-title-container {
  margin-top: 2rem;
}

#selected-email-template-with-title-container h1 {
  color: var(--on-surface-lighter);
  font-weight: 600;
}

#selected-email-template-with-title-container #email-template-card {
  margin-top: 2rem;
  padding: 0;
  border-radius: 1.7rem;
  border: 1px solid var(--surface-tint);
  box-shadow: 1px 1px;
}

#email-template-card #template-message-container {
  display: flex;
  flex-direction: column;
}

#email-template-card .card-text-label {
  font-size: 1.6rem;
  color: var(--primary);
}

#email-template-card #template-message-text {
  margin-top: 1rem;
  font-size: 1.7rem;
  color: var(--secondary);
  font-weight: 500;
}

#lead-research-report-container #personalized-emails-with-title-container {
  margin-top: 4rem;
}

#personalized-emails-with-title-container h1 {
  color: var(--on-surface-lighter);
  font-weight: 600;
}

#personalized-emails-with-title-container #personalized-emails-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

#personalized-emails-container .ant-card {
  padding: 0;
  border-radius: 1.7rem;
  border: 1px solid var(--hover-color);
  box-shadow: 1px 1px;
}

/* Copy Icon styling */
#personalized-emails-container .anticon-copy svg {
  color: var(--hover-color);
  width: 2rem;
  height: 2rem;
}

#personalized-emails-container .ant-card .email-subject-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#personalized-emails-container .email-subject-container .email-subject-label {
  font-size: 1.7rem;
  color: var(--primary);
  font-weight: 600;
}

#personalized-emails-container .email-subject-text-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#personalized-emails-container
  .email-subject-text-container
  .email-subject-text {
  font-size: 1.7rem;
  color: var(--secondary);
  font-weight: 500;
}

#personalized-emails-container .ant-card .email-body-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#personalized-emails-container .email-body-container .email-body-label {
  font-size: 1.7rem;
  color: var(--primary);
  font-weight: 600;
}

#personalized-emails-container .email-body-text-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

#personalized-emails-container .email-body-text-container .email-body-text {
  font-size: 1.7rem;
  color: var(--secondary);
  font-weight: 500;
}
