#leads-outer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

#leads-container {
  width: 80%;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
}

#leads-container #title-and-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-bottom: 1rem;
}

#title-and-btn-container h1 {
  color: var(--primary);
  font-weight: 700;
}

#title-and-btn-container .ant-btn-primary {
  width: fit-content;
  background-color: var(--primary);
  font-size: 1.6rem;
}

#title-and-btn-container .ant-btn-primary:hover {
  background-color: var(--hover-color);
}
