#lead-result-outer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

#lead-result-container {
  width: 70%;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
}

#lead-result-container .anticon-arrow-left svg {
  width: 2rem;
  height: 2rem;
  color: var(--primary);
}

#lead-result-container h3 {
  margin-top: 1rem;
  color: var(--on-surface);
}

#lead-result-container .ant-card {
  padding: 0;
  border-radius: 1.7rem;
  background-color: var(--surface-bright);
}

#lead-result-container .ant-card .ant-typography {
  font-family: "Lato";
  font-size: 1.7rem;
  color: var(--on-surface);
  font-weight: 550;
}

#lead-result-container #info-container {
  margin-top: 2%;
}

#info-container .info-section-btn {
  width: fit-content;
  background-color: var(--primary-container);
  color: var(--on-primary-container);
  border-radius: 1.5rem;
  font-size: 1.7rem;
  font-weight: 500;
  padding: 1.8rem;
}

#info-container .info-section-btn:hover {
  background-color: var(--hover-color);
  color: var(--on-primary);
}

#lead-result-container .ant-btn-link {
  padding: 0;
}

#lead-result-container #outreach-container {
  margin-top: 5%;
}
