#login-header {
  background-color: var(--primary);
}

#login-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#login-content-container {
  width: 40%;
  margin-top: 3%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#login-content-container #company-title {
  color: var(--primary);
  font-weight: 700;
  font-family: "Lato";
  font-size: 4rem;
  text-shadow: 0.5px 0.5px var(--primary);
}

#login-content-container #login-or-signup-text {
  margin-top: 1rem;
  color: var(--secondary);
  font-size: medium;
  font-weight: 600;
}

#login-content-container #firebase-auth-container {
  margin-top: 3rem;
  width: 100%;
}
