#login-header {
  background-color: var(--primary);
}

#login-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#login-content-container {
  width: 40%;
  margin-top: 4rem;
  border: 1px solid #afabb2;
  padding-top: 4rem;
  padding-bottom: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#login-content-container #company-title {
  color: var(--primary);
  font-weight: 700;
  font-size: 4rem;
  text-shadow: 0.5px 0.5px var(--primary);
}

#login-content-container #company-tag-line {
  margin-top: 1rem;
  color: var(--primary);
  font-weight: 600;
}

#login-content-container #login-or-signup-text {
  margin-top: 2rem;
  color: var(--seondary);
  font-size: medium;
  font-weight: 500;
}

#login-content-container #firebase-auth-container {
  width: 100%;
}
