#personalized-emails-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

#personalized-emails-container .ant-card {
  padding: 0;
  border-radius: 1.7rem;
  border: 1px solid var(--hover-color);
  box-shadow: 1px 1px;
}

/* Copy Icon styling */
#personalized-emails-container .anticon-copy svg {
  color: var(--hover-color);
  width: 2rem;
  height: 2rem;
}

#personalized-emails-container .ant-card .email-subject-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#personalized-emails-container .email-subject-container .email-subject-label {
  font-size: 1.7rem;
  color: var(--primary);
  font-weight: 600;
}

#personalized-emails-container .email-subject-text-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

#personalized-emails-container
  .email-subject-text-container
  .email-subject-text {
  width: 100%;
  font-size: 1.7rem;
  color: var(--secondary);
  font-weight: 500;
}

#personalized-emails-container .email-subject-text-container .anticon-edit svg {
  color: var(--hover-color);
  width: 2.2rem;
  height: 2.2rem;
  margin-right: 2rem;
}

#personalized-emails-container
  .email-subject-text-container
  .edit-subject-container {
  width: 100%;
}

#personalized-emails-container .edit-subject-container .btns-container {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 1rem;
}

#personalized-emails-container .ant-card .email-body-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#personalized-emails-container .email-body-container .email-body-label {
  font-size: 1.7rem;
  color: var(--primary);
  font-weight: 600;
}

#personalized-emails-container .email-body-text-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#personalized-emails-container
  .email-body-text-container
  .email-opener-container {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 2rem;
}

#personalized-emails-container .email-body-text-container .email-body-text {
  font-size: 1.7rem;
  color: var(--secondary);
  font-weight: 500;
}

/* Edit Icon styling */
#personalized-emails-container .email-opener-container .anticon-edit svg {
  color: var(--hover-color);
  width: 2.2rem;
  height: 2.2rem;
}

#personalized-emails-container .email-opener-container .edit-opener-container {
  width: 100%;
}

#personalized-emails-container .edit-opener-container .btns-container {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 1rem;
}

#personalized-emails-container .ant-card .email-highlight-url-container {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

#personalized-emails-container
  .ant-card
  .email-highlight-url-container
  .source-label {
  color: var(--primary);
  font-weight: 600;
}

#personalized-emails-container .email-template-read-view {
  margin-top: 1rem;
}

#personalized-emails-container .email-template-read-view .text-label {
  color: var(--primary);
  font-weight: 600;
}

#personalized-emails-container
  .email-template-read-view
  .edit-email-template-icon {
  margin-left: 1rem;
}

#personalized-emails-container .email-template-edit-view {
  margin-top: 2rem;
  /* border-top: 0.1px solid var(--logo-color); */
  border: 0.1px solid var(--outline-variant);
  background-color: var(--surface);
  padding: 1rem;
  width: 100%;
}

#personalized-emails-container .email-template-edit-view .ant-select {
  margin-top: 2rem;
  width: 100%;
}

#personalized-emails-container .email-template-edit-view .message-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

#personalized-emails-container .email-template-edit-view .message-text {
  font-size: 1.5rem;
  color: var(--secondary);
  font-weight: 500;
}

#personalized-emails-container .email-template-edit-view .btn-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

#personalized-emails-container
  .email-template-edit-view
  .btn-container
  .cancel-btn {
  border: 1px solid var(--primary);
}

#personalized-emails-container
  .email-template-edit-view
  .btn-container
  .cancel-btn:hover {
  color: var(--primary);
}

#personalized-emails-container
  .email-template-edit-view
  .btn-container
  .update-btn {
  background-color: var(--primary);
  color: white;
}

#personalized-emails-container
  .email-template-edit-view
  .btn-container
  .update-btn:enabled:hover {
  background-color: var(--hover-color);
  border: 0;
}

#personalized-emails-container
  .email-template-edit-view
  .btn-container
  .update-btn:disabled {
  background-color: gray;
  color: white;
}
