#personalized-emails-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

#personalized-emails-container .ant-card {
  padding: 0;
  border-radius: 1.7rem;
  border: 1px solid var(--hover-color);
  box-shadow: 1px 1px;
}

/* Copy Icon styling */
#personalized-emails-container .anticon-copy svg {
  color: var(--hover-color);
  width: 2rem;
  height: 2rem;
}

#personalized-emails-container .ant-card .email-subject-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#personalized-emails-container .email-subject-container .email-subject-label {
  font-size: 1.7rem;
  color: var(--primary);
  font-weight: 600;
}

#personalized-emails-container .email-subject-text-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#personalized-emails-container
  .email-subject-text-container
  .email-subject-text {
  font-size: 1.7rem;
  color: var(--secondary);
  font-weight: 500;
}

#personalized-emails-container .ant-card .email-body-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#personalized-emails-container .email-body-container .email-body-label {
  font-size: 1.7rem;
  color: var(--primary);
  font-weight: 600;
}

#personalized-emails-container .email-body-text-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

#personalized-emails-container .email-body-text-container .email-body-text {
  font-size: 1.7rem;
  color: var(--secondary);
  font-weight: 500;
}

#personalized-emails-container .ant-card .email-highlight-url-container {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

#personalized-emails-container
  .ant-card
  .email-highlight-url-container
  .source-label {
  color: var(--primary);
  font-weight: 600;
}

#personalized-emails-container .ant-card .email-template-used {
  margin-top: 1rem;
}

#personalized-emails-container .ant-card .email-template-used .text-label {
  color: var(--primary);
  font-weight: 600;
}
