#raised-funding-container {
  height: 2rem;
}

#raised-funding-container p {
  font-size: 0.9rem;
  margin-top: 0.4rem;
}

#raised-funding-container .form-select {
  height: 1.8rem;
  width: 20%;
  font-size: 0.8rem;
}

#is-hiring-container .is-hiring-inputs p {
  font-size: 0.9rem;
  margin-top: 0.4rem;
  width: 15%;
}

#is-hiring-container .is-hiring-inputs .form-select {
  height: 2rem;
  width: 50%;
  font-size: 0.8rem;
}

.multiple-entries-container {
  width: 100%;
}

.multiple-entries-container .multiple-entries-input .input-group {
  width: 50%;
}

.multiple-entries-container .multiple-entries-input input {
  height: 2rem;
  font-size: 0.9rem;
}

.multiple-entries-container .multiple-entries-input .btn {
  width: 2rem;
  height: 2rem;
  font-size: 0.8rem;
  font-weight: 600;
  background-color: dodgerblue;
}

.multiple-entries-container .multiple-entries-display #similar-to-text {
  font-size: 0.9rem;
}

.multiple-entries-container .multiple-entries-display .customer-chip {
  width: fit-content;
  border: 1px solid lightgray;
  border-radius: 6px;
  background-color: dodgerblue;
  color: white;
  font-weight: 600;
}

.multiple-entries-container
  .multiple-entries-display
  .customer-chip
  .btn-close {
  margin-left: 0.4rem;
}
