.select-template-modal .ant-select {
  width: 100%;
}

.select-template-modal .ant-btn-primary {
  background-color: var(--primary);
}

.select-template-modal #selected-template-message-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.select-template-modal #selected-template-message-container #message-label {
  font-size: 1.5rem;
  font-weight: 600;
}
