.template-card {
  border: 1px solid var(--outline-variant);
}

.template-card .contents-and-btn-container {
  display: flex;
  flex-direction: row;
}

.contents-and-btn-container .btns-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.contents-and-btn-container button {
  border: 0.5px solid var(--primary);
  padding: 4px;
}

.contents-and-btn-container button:hover {
  background-color: var(--surface-bright);
  border: 0.5px solid var(--primary);
}

.contents-and-btn-container button svg {
  width: 2rem;
  height: 2rem;
}

.template-card .card-contents-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card-contents-container .card-key {
  color: var(--primary);
  font-weight: 600;
  font-size: 1.6rem;
}

.card-contents-container .card-key-value-text {
  color: var(--secondary);
  font-size: 1.7rem;
}

.template-card .created-date-container,
.updated-date-container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.template-card .dates-container .date-key {
  color: var(--primary);
  font-weight: 600;
}

.template-card .dates-container .date-key-value-text {
  color: var(--secondary);
  font-weight: 500;
}
