#welcome-page-outer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#welcome-page-container {
  margin-top: 10%;
  width: 80%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

#welcome-page-container #title-and-tagline-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title-and-tagline-container #title-text {
  color: var(--welcome-page-color);
  font-size: 3rem;
}

#title-and-tagline-container #tagline {
  font-size: 1.7rem;
  color: var(--welcome-page-color);
}

#welcome-page-container #get-started-btn {
  background-color: var(--primary);
  color: white;
}
