fastapi==0.109.0
httpx==0.27.0
uvicorn==0.27.0
google-cloud-tasks==2.14.2
python-dotenv==1.0.1
google-cloud-bigquery==3.27.0
google-generativeai==0.3.2  # For Gemini AI
urllib3==2.2.1
requests==2.31.0
openai~=1.41.1
python-json-logger==2.0.7  # For better JSON logging
pydantic==2.10.5 # Needed to work with Python 13.3
markdownify==0.14.1
tldextract==5.1.3
loguru==0.7.2  # For improved logging capabilities